extends templates/layout

block content
  h2=movie.title
  if movie.medium_cover_image
    img(src=`${movie.medium_cover_image}`)
  p=movie.synopsis
  h3 😎 released at #{movie.year || new Date().getFullYear()}
  h3 😎 rating : #{movie.rating || 0} of 10
  if movie.genres
    h3 😎 genres of movie
    ul
      each genre in movie.genres
        li #{genre}